@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

body{
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: aquamarine;
    min-height: 100vh;
}

.box{
    position: relative;
    width: 300px;
}

.inputBox{
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0,0,0,.15);
}

.inputBox input{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;    
}

.inputBox #toggleBtn{
    position: absolute;
    width: 34px;
    height: 34px;
    right: 10px;
    top: 3px;
    background-color: rgba(0,0,0,.15);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.inputBox #toggleBtn::before{
    content: '\f06e';
    font-family: fontAwesome;    
}

.inputBox #toggleBtn.hide::before {    
    content: '\f070';
    font-family: fontAwesome;    
}

.validation{
    position: relative;
    padding: 10px;
    margin-top: 30px;
    background-color: #376488;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0,0,0,.15);    
}

.validation ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.validation ul li{
    position: relative;
    list-style: none;
    color: #fff;
    font-size: .85em;
    transition: .5s;
}

.validation ul li::before{
    content: '\343';
    font-family: fontAwesome;
    width: 20px;
    height: 10px;
}